.tabItem {
  display: flex;
  align-items: center;
  width: fit-content;
}

.addTab {
  height: 100%;
  min-width: 32px;
  width: 0;
  transition: all 0.5s linear;
  display: flex;
  align-items: center;
}

.addTab:hover {
  align-self: baseline;
  background: var(--brand-accent);
  border-radius: var(--border-radius);
  cursor: pointer;
  width: 100%;
}

.addTabButton {
  align-self: baseline;
  padding: 5px;
  margin: 0 10px;
}
