.footer {
  grid-row-start: 3;
  display: flex;
  background: var(--foreground);
  color: var(--background);
  height: 50px;
  padding: 0 10px;
}

.footer a {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer img {
  flex-shrink: 0;
}

.addTab {
  height: 100%;
  min-width: 20px;
  width: 0;
  transition: width 0.3s ease;
  display: flex;
  align-items: center;
}

.addTab:hover {
  width: fit-content;
}
